[data-cellid="grid_c5"][data-page="carscars_view"][data-cellid="grid_c5"][data-page="carscars_view"][data-cellid="grid_c5"][data-page="carscars_view"] {
  padding-top: 15px;
}
[data-page="carscars_view"][data-itemid="integrated_edit_field13"][data-page="carscars_view"][data-itemid="integrated_edit_field13"][data-page="carscars_view"][data-itemid="integrated_edit_field13"][data-page="carscars_view"][data-itemid="integrated_edit_field13"] > * > input,
[data-page="carscars_view"][data-itemid="integrated_edit_field13"][data-page="carscars_view"][data-itemid="integrated_edit_field13"][data-page="carscars_view"][data-itemid="integrated_edit_field13"][data-page="carscars_view"][data-itemid="integrated_edit_field13"] > * > textarea,
[data-page="carscars_view"][data-itemid="integrated_edit_field13"][data-page="carscars_view"][data-itemid="integrated_edit_field13"][data-page="carscars_view"][data-itemid="integrated_edit_field13"][data-page="carscars_view"][data-itemid="integrated_edit_field13"] > * > select,
[data-page="carscars_view"][data-itemid="integrated_edit_field13"][data-page="carscars_view"][data-itemid="integrated_edit_field13"][data-page="carscars_view"][data-itemid="integrated_edit_field13"][data-page="carscars_view"][data-itemid="integrated_edit_field13"] > * > * > select,
[data-page="carscars_view"][data-itemid="integrated_edit_field13"][data-page="carscars_view"][data-itemid="integrated_edit_field13"][data-page="carscars_view"][data-itemid="integrated_edit_field13"][data-page="carscars_view"][data-itemid="integrated_edit_field13"] > .form-control-static,
[data-page="carscars_view"][data-itemid="integrated_edit_field13"][data-page="carscars_view"][data-itemid="integrated_edit_field13"][data-page="carscars_view"][data-itemid="integrated_edit_field13"][data-page="carscars_view"][data-itemid="integrated_edit_field13"] > [id^=view],
[data-page="carscars_view"][data-itemid="integrated_edit_field13"][data-page="carscars_view"][data-itemid="integrated_edit_field13"][data-page="carscars_view"][data-itemid="integrated_edit_field13"][data-page="carscars_view"][data-itemid="integrated_edit_field13"] label,
[data-page="carscars_view"][data-itemid="integrated_edit_field13"][data-page="carscars_view"][data-itemid="integrated_edit_field13"][data-page="carscars_view"][data-itemid="integrated_edit_field13"][data-page="carscars_view"][data-itemid="integrated_edit_field13"] > * > .r-readonly-control {
  font-weight: bold;
  font-size: 22px;
}
[data-page="carscars_view"][data-itemid="integrated_edit_field13"][data-page="carscars_view"][data-itemid="integrated_edit_field13"][data-page="carscars_view"][data-itemid="integrated_edit_field13"][data-page="carscars_view"][data-itemid="integrated_edit_field13"] {
  padding-left: 10px;
  padding-top: 10px;
}
[data-page="carscars_view"][data-itemid="custom_button"] > .btn {
  padding-left: 10px;
}
[data-page="carscars_view"][data-itemid="custom_button"] {
  padding-top: 10px;
}
[data-page="carscars_view"][data-itemid="integrated_edit_field9"][data-page="carscars_view"][data-itemid="integrated_edit_field9"][data-page="carscars_view"][data-itemid="integrated_edit_field9"][data-page="carscars_view"][data-itemid="integrated_edit_field9"] > * > input,
[data-page="carscars_view"][data-itemid="integrated_edit_field9"][data-page="carscars_view"][data-itemid="integrated_edit_field9"][data-page="carscars_view"][data-itemid="integrated_edit_field9"][data-page="carscars_view"][data-itemid="integrated_edit_field9"] > * > textarea,
[data-page="carscars_view"][data-itemid="integrated_edit_field9"][data-page="carscars_view"][data-itemid="integrated_edit_field9"][data-page="carscars_view"][data-itemid="integrated_edit_field9"][data-page="carscars_view"][data-itemid="integrated_edit_field9"] > * > select,
[data-page="carscars_view"][data-itemid="integrated_edit_field9"][data-page="carscars_view"][data-itemid="integrated_edit_field9"][data-page="carscars_view"][data-itemid="integrated_edit_field9"][data-page="carscars_view"][data-itemid="integrated_edit_field9"] > * > * > select,
[data-page="carscars_view"][data-itemid="integrated_edit_field9"][data-page="carscars_view"][data-itemid="integrated_edit_field9"][data-page="carscars_view"][data-itemid="integrated_edit_field9"][data-page="carscars_view"][data-itemid="integrated_edit_field9"] > .form-control-static,
[data-page="carscars_view"][data-itemid="integrated_edit_field9"][data-page="carscars_view"][data-itemid="integrated_edit_field9"][data-page="carscars_view"][data-itemid="integrated_edit_field9"][data-page="carscars_view"][data-itemid="integrated_edit_field9"] > [id^=view],
[data-page="carscars_view"][data-itemid="integrated_edit_field9"][data-page="carscars_view"][data-itemid="integrated_edit_field9"][data-page="carscars_view"][data-itemid="integrated_edit_field9"][data-page="carscars_view"][data-itemid="integrated_edit_field9"] label,
[data-page="carscars_view"][data-itemid="integrated_edit_field9"][data-page="carscars_view"][data-itemid="integrated_edit_field9"][data-page="carscars_view"][data-itemid="integrated_edit_field9"][data-page="carscars_view"][data-itemid="integrated_edit_field9"] > * > .r-readonly-control {
  font-size: 20px;
}
[data-page="carscars_view"][data-itemid="integrated_edit_field9"][data-page="carscars_view"][data-itemid="integrated_edit_field9"][data-page="carscars_view"][data-itemid="integrated_edit_field9"][data-page="carscars_view"][data-itemid="integrated_edit_field9"] {
  padding-left: 10px;
}
[data-page="carscars_view"][data-itemid="integrated_edit_field10"][data-page="carscars_view"][data-itemid="integrated_edit_field10"][data-page="carscars_view"][data-itemid="integrated_edit_field10"][data-page="carscars_view"][data-itemid="integrated_edit_field10"] > * > input,
[data-page="carscars_view"][data-itemid="integrated_edit_field10"][data-page="carscars_view"][data-itemid="integrated_edit_field10"][data-page="carscars_view"][data-itemid="integrated_edit_field10"][data-page="carscars_view"][data-itemid="integrated_edit_field10"] > * > textarea,
[data-page="carscars_view"][data-itemid="integrated_edit_field10"][data-page="carscars_view"][data-itemid="integrated_edit_field10"][data-page="carscars_view"][data-itemid="integrated_edit_field10"][data-page="carscars_view"][data-itemid="integrated_edit_field10"] > * > select,
[data-page="carscars_view"][data-itemid="integrated_edit_field10"][data-page="carscars_view"][data-itemid="integrated_edit_field10"][data-page="carscars_view"][data-itemid="integrated_edit_field10"][data-page="carscars_view"][data-itemid="integrated_edit_field10"] > * > * > select,
[data-page="carscars_view"][data-itemid="integrated_edit_field10"][data-page="carscars_view"][data-itemid="integrated_edit_field10"][data-page="carscars_view"][data-itemid="integrated_edit_field10"][data-page="carscars_view"][data-itemid="integrated_edit_field10"] > .form-control-static,
[data-page="carscars_view"][data-itemid="integrated_edit_field10"][data-page="carscars_view"][data-itemid="integrated_edit_field10"][data-page="carscars_view"][data-itemid="integrated_edit_field10"][data-page="carscars_view"][data-itemid="integrated_edit_field10"] > [id^=view],
[data-page="carscars_view"][data-itemid="integrated_edit_field10"][data-page="carscars_view"][data-itemid="integrated_edit_field10"][data-page="carscars_view"][data-itemid="integrated_edit_field10"][data-page="carscars_view"][data-itemid="integrated_edit_field10"] label,
[data-page="carscars_view"][data-itemid="integrated_edit_field10"][data-page="carscars_view"][data-itemid="integrated_edit_field10"][data-page="carscars_view"][data-itemid="integrated_edit_field10"][data-page="carscars_view"][data-itemid="integrated_edit_field10"] > * > .r-readonly-control {
  font-size: 20px;
}
[data-page="carscars_view"][data-itemid="integrated_edit_field15"][data-page="carscars_view"][data-itemid="integrated_edit_field15"][data-page="carscars_view"][data-itemid="integrated_edit_field15"][data-page="carscars_view"][data-itemid="integrated_edit_field15"] > * > input,
[data-page="carscars_view"][data-itemid="integrated_edit_field15"][data-page="carscars_view"][data-itemid="integrated_edit_field15"][data-page="carscars_view"][data-itemid="integrated_edit_field15"][data-page="carscars_view"][data-itemid="integrated_edit_field15"] > * > textarea,
[data-page="carscars_view"][data-itemid="integrated_edit_field15"][data-page="carscars_view"][data-itemid="integrated_edit_field15"][data-page="carscars_view"][data-itemid="integrated_edit_field15"][data-page="carscars_view"][data-itemid="integrated_edit_field15"] > * > select,
[data-page="carscars_view"][data-itemid="integrated_edit_field15"][data-page="carscars_view"][data-itemid="integrated_edit_field15"][data-page="carscars_view"][data-itemid="integrated_edit_field15"][data-page="carscars_view"][data-itemid="integrated_edit_field15"] > * > * > select,
[data-page="carscars_view"][data-itemid="integrated_edit_field15"][data-page="carscars_view"][data-itemid="integrated_edit_field15"][data-page="carscars_view"][data-itemid="integrated_edit_field15"][data-page="carscars_view"][data-itemid="integrated_edit_field15"] > .form-control-static,
[data-page="carscars_view"][data-itemid="integrated_edit_field15"][data-page="carscars_view"][data-itemid="integrated_edit_field15"][data-page="carscars_view"][data-itemid="integrated_edit_field15"][data-page="carscars_view"][data-itemid="integrated_edit_field15"] > [id^=view],
[data-page="carscars_view"][data-itemid="integrated_edit_field15"][data-page="carscars_view"][data-itemid="integrated_edit_field15"][data-page="carscars_view"][data-itemid="integrated_edit_field15"][data-page="carscars_view"][data-itemid="integrated_edit_field15"] label,
[data-page="carscars_view"][data-itemid="integrated_edit_field15"][data-page="carscars_view"][data-itemid="integrated_edit_field15"][data-page="carscars_view"][data-itemid="integrated_edit_field15"][data-page="carscars_view"][data-itemid="integrated_edit_field15"] > * > .r-readonly-control {
  font-size: 20px;
}
[data-page="carscars_view"][data-itemid="page_image_ash8f23hr"] {
  width: 400px;
}

/* Put  your custom CSS code here */

[data-cellid="grid_c8"][data-page="carscars_view"][data-cellid="grid_c8"][data-page="carscars_view"][data-cellid="grid_c8"][data-page="carscars_view"] {
  padding-top:7px;
}

/* Put  your custom CSS code here */

[data-cellid="grid_c13"][data-page="carscars_view"][data-cellid="grid_c13"][data-page="carscars_view"][data-cellid="grid_c13"][data-page="carscars_view"] {
  padding-left:10px;
}
/* Put  your custom CSS code here */

[data-page="carscars_view"][data-itemid="integrated_edit_field13"] {
  margin-left:0 !important;
}

/* Put  your custom CSS code here */

[data-page="carscars_view"][data-itemid="custom_button"] {
 margin-left:0 !important;
}

/* Put  your custom CSS code here */

[data-page="carscars_view"][data-itemid="integrated_edit_field9"] {
    padding-right:5px !important;
}

/* Put  your custom CSS code here */

[data-page="carscars_view"][data-itemid="integrated_edit_field10"] {
    padding-right:5px !important;
    padding-left:0px !important;
}

/* Put  your custom CSS code here */

[data-page="carscars_view"][data-itemid="integrated_edit_field15"] {
    padding-right:5px !important;
    padding-left:0px !important;
}

/* Put  your custom CSS code here */

[data-page="carscars_view"][data-itemid="view_back_list"] {
  background-color: #f5f5f5;
  border-radius: 4px;
  text-align:left;
  
}
[data-page="carscars_view"][data-itemid="view_back_list"] .glyphicon-home{
    margin-right: 7px;
}
