[data-cellid="grid_cell_field"][data-page="carscars_list"][data-cellid="grid_cell_field"][data-page="carscars_list"][data-cellid="grid_cell_field"][data-page="carscars_list"] {
  padding-left: 10px;
}
[data-cellid="grid_cell_field1"][data-page="carscars_list"][data-cellid="grid_cell_field1"][data-page="carscars_list"][data-cellid="grid_cell_field1"][data-page="carscars_list"] {
  padding-bottom: 10px;
}
[data-cellid="grid_cell_label2"][data-page="carscars_list"][data-cellid="grid_cell_label2"][data-page="carscars_list"][data-cellid="grid_cell_label2"][data-page="carscars_list"] {
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
[data-cellid="grid_cell_field4"][data-page="carscars_list"][data-cellid="grid_cell_field4"][data-page="carscars_list"][data-cellid="grid_cell_field4"][data-page="carscars_list"] {
  padding-right: 10px;
}
[data-page="carscars_list"][data-itemid="details_found"] {
  padding-top: 8px;
}
[data-page="carscars_list"][data-itemid="grid_field3"] {
  font-weight: bold;
  font-size: 16px;
  padding-left: 10px;
}
[data-page="carscars_list"][data-itemid="grid_field"] {
  font-weight: bold;
}
[data-page="carscars_list"][data-itemid="grid_field1"] {
  font-weight: bold;
}
[data-page="carscars_list"][data-itemid="grid_field_label4"] {
  color: #aab1c7;
  font-weight: bold;
  padding-left: 10px;
}
[data-page="carscars_list"][data-itemid="grid_field4"] {
  color: #aab1c7;
}
[data-page="carscars_list"][data-itemid="grid_field5"] {
  color: #aab1c7;
}
[data-page="carscars_list"][data-itemid="grid_field_label5"] {
  color: #aab1c7;
  font-weight: bold;
  padding-left: 10px;
  padding-right: 5px;
}
[data-page="carscars_list"][data-itemid="grid_field2"] {
  color: #2fa4e7;
  font-size: 20px;
  padding-left: 10px;
}
[data-page="carscars_list"][data-itemid="page_image_ash8f23hr"] {
  width: 400px;
}

/* Put  your custom CSS code here */

[data-cellid="grid_cell_field"][data-page="carscars_list"][data-cellid="grid_cell_field"][data-page="carscars_list"][data-cellid="grid_cell_field"][data-page="carscars_list"] {
  width:70% !important;
}

/* Put  your custom CSS code here */

[data-cellid="grid_cell_field4"][data-page="carscars_list"][data-cellid="grid_cell_field4"][data-page="carscars_list"][data-cellid="grid_cell_field4"][data-page="carscars_list"] {
   width:70% !important;
}
/* Put  your custom CSS code here */

[data-page="carscars_list"][data-itemid="grid_field3"] {
  color: rgb(24, 53, 88);
  line-height: 20px;
}

/* Put  your custom CSS code here */

[data-page="carscars_list"][data-itemid="grid_field"] {
  color: rgb(24, 53, 88);
  line-height: 20px;
}

/* Put  your custom CSS code here */

[data-page="carscars_list"][data-itemid="grid_field1"] {
  color: rgb(24, 53, 88);
  line-height: 20px;
}

/* Put  your custom CSS code here */

[data-page="carscars_list"][data-itemid="grid_field5"] {
 float:right;
}

/* Put  your custom CSS code here */

[data-page="carscars_list"][data-itemid="grid_field_label5"] {
 float:right;
}

/* Put  your custom CSS code here */

[data-page="carscars_list"][data-itemid="grid_field6"] {
  color: red;
}
[data-page="carscars_list"][data-itemid="grid_field6"] span{
    width: 100%;
    display: block;
}
[data-page="carscars_list"][data-itemid="grid_field6"] .list_image{
    width:100%;
    height:200px;
    background-size:cover;
    background-position:center center;
}
