[data-page="carscars_edit"][data-itemid="page_image_ash8f23hr"] {
  width: 400px;
}

[data-page="carscars_edit"][data-itemid="integrated_edit_field7"] input {
  width:auto !important;
}

[data-page="carscars_edit"][data-itemid="integrated_edit_field14"] input {
  width:auto !important;
}

